<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-body">
            <img *ngIf=" user.timeTableUrl; else noTimeTable"
             class="img time-table"
             default="assets/images/404-error.jpg"
             [src]="BASE_URL + user.timeTableUrl"
             [alt]="user.firstName + ' Time table'"
             />
            <ng-template #noTimeTable>{{'All.text.timeTable.noContent'|translate}}</ng-template>
        </div>
      </div>
    </div>
  </div>
</div>