<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-body">
            <img *ngIf=" user.timetabeUrl; else noTimeTable" class="img time-table" default="assets/images/image-not-found-404.png" [src]="BASE_URL + user.timetabeUrl"
            [alt]="user.firstname + ' Time table'" />
            <ng-template #noTimeTable>{{'All.text.timeTable.noContent'|translate}}</ng-template>
        </div>
      </div>
    </div>
  </div>
</div>