<div class="row">
    <app-group-student-list *ngIf="currentGroup" [students]="currentGroup.students"
        (studentSelected)="onStudentSelected($event)" class="col-md-4">
    </app-group-student-list>

    <div class="card col-md-8">
        <mat-tab-group>
            <mat-tab label="{{'All.text.marks.label'|translate}}">
                <app-group-marks-student-detail [student]="student" [lessons]="lessons">
                </app-group-marks-student-detail>
            </mat-tab>

            <mat-tab label="{{'All.text.marks.label.sendEvaluation'|translate}}">
                <app-group-marks-form
                    [student]="student"
                    [lessons]="lessons"
                    (refresh)="refresh($event)"
                    class="marks-list">
                </app-group-marks-form>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>