<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button type="button" class="btn btn-warning pull-right"
                            [routerLink]="STUDENT_PROFILE">Add New Student</button>
                        <!-- <button mat-raised-button type="button" class="btn btn-warning pull-right">
                            <span class="material-icons">arrow_upward</span>
                            Import File</button> -->
                    </div>
                </div>
                <app-student-filter [students]="students" (studentsFound)="refreshStudents($event)">
                </app-student-filter>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Firstname
                                    </th>
                                    <th>
                                        Lastname
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Group
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of studentsTmp">
                                        <td>
                                            <a [routerLink]="STUDENT_PROFILE + student.id">
                                                <img class="profile-image" [src]="BASE_URL + student.photo"
                                                    default="assets/images/profile-logo.png" alt="Smile face"/>
                                            </a>
                                        </td>
                                        <td>
                                            {{ student.firstname }}
                                        </td>
                                        <td>
                                            {{ student.lastname }}
                                        </td>
                                        <td class="text-primary">
                                            {{ student.email }}
                                        </td>
                                        <td>
                                            <div *ngIf="student.group">{{ student.group.name }}</div>
                                            <div *ngIf="!student.group">
                                                <p class="not-assigned"><b>Not Assigned</b></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>