<div class="card card-profile">
    <div class="card-body">
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                    <mat-tab *ngFor="let tab of TABS; let i = index" [label]="TABS[i].label | translate"></mat-tab>                     
            </mat-tab-group>
    </div>
</div>
<app-users-notification-form *ngIf="selected.value === TABS[0].NOTIFY_USERS" [notifications]="notifications"
></app-users-notification-form>
<app-notification-list *ngIf="selected.value === TABS[1].NOTIFICATIONS_RECEIVED" [isNotifReceived]="true"></app-notification-list>
<app-notification-list *ngIf="selected.value === TABS[2].NOTIFICATIONS_SENT" [isNotifReceived]="false"></app-notification-list>

<app-notification-content *ngIf="selected.value === TABS[3].NOTIFICATIONS_SENT" [isNotifReceived]="false"></app-notification-content>


