<div class="card card-profile">
  <div class="card-body">
    <p>{{'All.text.students.studentNumber'|translate}}: {{ students.length}}</p>
    <table class="table">
      <thead class=" text-primary">
        <th>
          {{'All.text.label.Photo'|translate}}
        </th>
        <th>
            {{'All.text.label.FirstName'|translate}}
        </th>
        <th>
            {{'All.text.label.LastName'|translate}}
        </th>
        <th>
            {{'All.text.label.Email'|translate}}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>
            <a [routerLink]="APP_STUDENT_PROFILE + student.id">
              <img class="profile-icon" [src]="BASE_URL + student.photo"
              [default]="'assets/images/icon/STUDENT-'+student.gender+'.png'" alt="Smiley student face"/>
            </a>
          </td>
          <td>
            {{student.firstName}}
          </td>
          <td>
            {{student.lastName}}
          </td>
          <td>
            {{student.email}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
