<div class="col-md-12">
  <div class="row">
    <button (click)="onToggleButton('TEACHER')" class="btn margin-30"
      [ngClass]="selected !== 'TEACHER' ? 'btn-outline-secondary' : 'btn-info'">
      {{'label.teacher' | translate}}
    </button>
    <button (click)="onToggleButton('GROUP')" class="btn margin-30"
      [ngClass]="selected !== 'GROUP' ? 'btn-outline-secondary' : 'btn-info'">
      {{'label.group' | translate}}
    </button>
    <button (click)="onToggleButton('STUDENT')" class="btn margin-30"
      [ngClass]="selected !== 'STUDENT' ? 'btn-outline-secondary' : 'btn-info'">
      {{'label.student' | translate}}
    </button>

    <mat-form-field class="example-full-width" *ngIf="selected === 'STUDENT'">
      <mat-select matInput placeholder="{{'All.text.groups.select' | translate}}" (selectionChange)="onSelectGroup($event.value)">
        <mat-option *ngFor="let grp of allGroups" [value]="grp">
          {{ grp.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="clearfix"></div>
    <!-- <mat-form-field class="example-full-width">
     <mat-select matInput placeholder="Group" formControlName="group">
        <mat-option *ngFor="let grp of groups" [value]="grp">
          <mat-option [value]="null" [disabled]="true">Select Category</mat-option> -->
    <!-- <mat-option *ngFor="let grp of groups" [value]="grp" [selected]="grp.name == student.group.name"> 
          {{ grp.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>-->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="notifForm">
          <div class="row">
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'All.text.notifications.Title' | translate}}" formControlName="title" required>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-select matInput placeholder="{{'All.text.notifications.Type' | translate}}" formControlName="type" required>
                  <mat-option *ngFor="let NOTIF of NOTIFS" [value]="NOTIF" required>
                    {{'All.text.notifications.Type.' + NOTIF | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'All.text.notifications.Notifier' | translate}}" formControlName="notifier"
                 [disabled]="true">
              </mat-form-field>
            </div>
            <div class="col-md-10">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'All.text.notifications.Content' | translate}}"
                 type="text" formControlName="content" required>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-raised-button type="submit" (click)="openDialog()"
                [disabled]="notifForm.pristine || notifForm.invalid"
                class="btn btn-warning pull-right">{{'All.text.notifications.NotifierAction' | translate}}</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card card-profile">
  <div class="card-body">
    <div class="row">

      <div class="col-md-12">
        <strong>
          {{'All.text.notifications.OptionSelected' | translate}}: {{selections &&
          selections.selectedOptions.selected.length}}
        </strong>
      </div>

      <div class="col-md-12">
        <mat-selection-list #selections (selectionChange)="onSelectCheckBox($event, selections.selectedOptions)">
          <mat-list-option  *ngFor="let element of selectedOptions" [value]="element" selected
           style="display:inline-block; width:33%; text-align:center;">
            {{element.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      
    </div>
  </div>
</div>
