.example-viewport {
    height: 200px;
    width: 100%;
  }
  
  .example-dt {
    height: 30px;
    font-weight: bold;
  }
  
  .example-dd {
    height: 30px;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }

  .red-color {
    color: red;
    font-weight: bold;
  }

  .blue-color {
    color: blue;
    font-weight: bold;
  }

  .green-color {
    color: green;
    font-weight: bold;
  }