<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="logo">
        <a routerLink="dashboard" class="simple-text">
          <div class="logo-img">
            <img src="/assets/img/plumedor-logo.png" alt="La plume-dor logo" />
          </div>
        </a>
      </div>
    </div>
    <div *ngIf="authority != null">
      <ul class="nav navbar-nav">
        <li class="nav-item" routerLinkActive="active" *ngFor="let route of navBar">
          <a class="nav-link" [routerLink]="route.router">{{route.label | translate}}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/notifications">
            <i class="material-icons margin-5">notifications</i>
            <span *ngIf="newNotifications !== 0" class="notification position">{{ newNotifications }}</span>
            {{'header.notifications' | translate}}
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="authority != null">
      <ul class="nav navbar-nav horiz navbar-right" routerLinkActive="active">
        <li class="nav-item">
        <a class="nav-link" (click)="switchLanguage('ar')">AR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="switchLanguage('fr')">FR</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" (click)="switchLanguage('en')">EN</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link background-white" data-toggle="dropdown">
            <img *ngIf="photo != null && photo != 'null'; else noUserImage" [src]="photo" alt="Smile face"
              class="radius-image" />
            <ng-template #noUserImage>
              <img src="assets/images/profile-logo.png" alt="smile face" class="radius-image" />
            </ng-template>
            {{ role }} {{ username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a (click)="logout()">{{'header.logout' | translate}}</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div *ngIf="!authority">
      <ul class="nav navbar-nav horiz navbar-right" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/login">{{'header.login' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>