.navbar-nav-horiz {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.horiz {
    flex-direction: row;
}

.background-white {
    background-color: #fff;
}

.radius-image {
    border-radius: 50%;
    width: 29px;
    height: 29px;
    margin-right: 5px;
}

.margin-5 {
    margin-right: 5px;
}

.position {
    right: inherit;
    left: 20px;
}