<div class="main-content">
  <div class="container-fluid">

    <div *ngIf="authority === 'admin' || authority === 'pm'">
      <app-filter (groupSelected)="onGroupSelected($event)"></app-filter>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">

                <div class="col-md-4" *ngIf="groupSelected">
                  <p><b>{{groupSelected.name}}:</b>
                    <span *ngIf="students"> ({{students.length}}) students</span>
                  </p>
                  <app-group-student-list [students]="students" (studentSelected)="onStudentSelected($event)"></app-group-student-list>
                </div>

                <div class="col-md-8" *ngIf="studentSelected">
                  <app-student-marks-detail [student]="studentSelected"></app-student-marks-detail>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="authority === 'user'">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <app-student-view-mark-detail *ngIf="loggedStudent" [student]="loggedStudent"></app-student-view-mark-detail>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>