<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <form
        [formGroup]="subjectsForm"
        *ngIf="subjectsForm.controls.checkedOptions"
      >
        <div
          class=""
          formArrayName="checkedOptions"
          *ngFor="
            let name of subjectsForm.controls.checkedOptions.controls;
            let i = index
          "
        >
          <mat-checkbox
            class="checkbox-color"
            matInput
            [formControlName]="i"
            (change)="onUpdate($event.checked, checkedOptions[i])"
            ><h4>{{ checkedOptions[i].name }}</h4>
          </mat-checkbox>
        </div>
      </form>
    </div>
  </div>
</div>
