<div class="card">
  <div class="card-body">
    <form [formGroup]="subjectsForm" (ngSubmit)="submit()">
      <div class="row">
        <div  *ngIf="subjectsForm.controls.checkedOptions != null">
          <div formArrayName="checkedOptions"
            *ngFor="let name of subjectsForm.controls.checkedOptions.controls; let i = index">
            <mat-label>
              <div class="col-md-4">
                <mat-checkbox class="checkbox-color" matInput [formControlName]="i">{{checkedOptions[i].name}}
                </mat-checkbox>
              </div>
              </mat-label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
          <button mat-raised-button type="submit" class="btn btn-warning pull-right">Sauvegareder</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <form [formGroup]="subjectsForm" (ngSubmit)="onSubmit()">
      <div class="row">
          
        <div *ngFor="let subject of subjectsPerLevel; let i = index"> 
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-checkbox (click)="">{{ subject.name }}</mat-checkbox>
            </mat-form-field>
          </div>
        </div>


        </div>
        <div class="row">
            <div class="col-md-10"></div>
          <div class="col-md-2">
            <button mat-raised-button type="submit" class="btn btn-warning pull-right">Save</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </form> 
    
    <div *ngFor="let choice of checks; let i=index" class="col-md-2">
      <label>
        <input type="checkbox" [value]="choice.value" (change)="onCheckChange($event)">
        {{choice.description}}
      </label>
    </div>
  -->
<!-- [attr.data-index]="i" -->





<!-- 
<div [formGroup]="subjectsForm">
    <div formArrayName="items"
    *ngFor="let item of subjectsForm.get('items').controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="name" placeholder="Item name">
      <input formControlName="description" placeholder="Item description">
      <input formControlName="price" placeholder="Item price">
    </div>
  
    Chosen name: {{ subjectsForm.controls.items.controls[i].controls.name.value }}
  </div>
  </div> -->

<!-- <div formArrayName="items"
  *ngFor="let item of subjectsForm.get('items').controls; let i = index;">
  <div [formGroupName]="i">
    <input formControlName="name" placeholder="Item name">
    <input formControlName="description" placeholder="Item description">
    <input formControlName="price" placeholder="Item price">
  </div>

  Chosen name: {{ subjectsForm.controls.items.controls[i].controls.name.value }}
</div> -->

<!-- <div [formGroup]="myGroup">
    <div formArrayName="cities">
      <div *ngFor="let city of cityArray.controls; index as i">
        <input [formControlName]="i">
      </div>
    </div>
  </div> -->