<mat-tab-group>
    <mat-tab [label]="'My Marks'">
        <div class="card">
            <div class="card-content table-responsive table-full-width">
                <table class="table">
                    <thead>
                        <th>Date</th>
                        <th>Matiére</th>
                        <th>Remarque</th>
                        <th>Note</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mark of marks">
                            <td><span class="timestamp">{{mark.createdAt | date:'dd/MM/yyyy' }}</span></td>
                            <td>{{mark.lesson.name}}</td>
                            <td>{{mark.note}}</td>
                            <td><span [class]="getMarkStyle(mark.mark)">{{mark.mark}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>