@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// or
@import "~bootstrap/scss/bootstrap";

// then import toastr scss
@import "~ngx-toastr/toastr-bs4-alert.scss";


.spinner-center-screen {
    position: absolute !important;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.margin-top-4 {
    margin-top: 0.25em;
}

.margin-bottom-4 {
    margin-bottom: 0.25em;
}

.margin-top-8 {
    margin-top: 0.5em;
}

.margin-bottom-8 {
    margin-bottom: 0.5em;
}

.margin-top-16 {
    margin-top: 1em;
}

.margin-bottom-16 {
    margin-bottom: 1em;
}