<div class="card card-profile">
    <div class="card-avatar">
        <a>
            <img class="img profile-image" [src]="BASE_URL + user.photo" default="assets/images/profile-logo.png"
                alt="Smiley face" height="42" width="42" />
        </a>
    </div>

    <form>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button mat-raised-button class="btn btn-info" (click)="fileInput.click()">Select Image</button>
        <div *ngIf="isUploading">
            <button mat-raised-button class="btn btn-warning buttonload">
                Uploading...<i class="fa fa-circle-o-notch fa-spin"></i>
            </button>
        </div>
        <div *ngIf="!isUploading">
            <button mat-raised-button class="btn btn-warning" (click)="onUpload()">
                <span class="glyphicon glyphicon-cloud-upload"></span>Upload
            </button>
        </div>
    </form>
    <div class="card-body">
        <h6 class="card-category text-gray">{{ getProfile() }}</h6>
        <h4 class="card-title">{{user.firstname}} {{user.lastname}}</h4>
        <p class="card-description">
            {{ user.email }}
        </p>
        <p class="card-description">
            Registred: {{ user.createdAt | date }}
        </p>
    </div>
</div>