<div class="col-md-12">
  <div class="row">
    <button (click)="onToggleButton('GROUP')" class="btn margin-30"
      [ngClass]="selected !== 'GROUP' ? 'btn-outline-secondary' : 'btn-info'">
        {{'All.text.groups.label'|translate}}
     </button>
    <button (click)="onToggleButton('STUDENT')" class="btn margin-30"
      [ngClass]="selected !== 'STUDENT' ? 'btn-outline-secondary' : 'btn-info'">
        {{'All.text.students.label'|translate}}
    </button>

    <mat-form-field class="example-full-width" *ngIf="selected === 'STUDENT'">
      <mat-select matInput placeholder="{{'All.text.students.placeholder.SelectGroup'|translate}}" (selectionChange)="onSelectGroup($event.value)">
        <mat-option *ngFor="let grp of allGroups" [value]="grp">
          {{ grp.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="notifForm">
          <div class="row">
            <div class="col-md-5">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'All.text.notifications.Title'|translate}}" formControlName="title" required>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <mat-select matInput placeholder="{{'All.text.notifications.Type'|translate}}" formControlName="type" required>
                  <mat-option *ngFor="let notif of NOTIFS" [value]="notif" required>
                    {{'All.text.notifications.Type.' + notif|translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'All.text.notifications.Notifier'|translate}}" formControlName="notifier" [disabled]="'disabled'">
              </mat-form-field>
            </div>
            <div class="col-md-10">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="{{'All.text.notifications.Content'|translate}}" type="text" formControlName="content" required>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-raised-button type="submit" (click)="openDialog()"
                [disabled]="notifForm.pristine || notifForm.invalid"
                class="btn btn-warning pull-right">{{'All.text.notifications.send'|translate}}</button>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card card-profile">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="selected == 'GROUP'">
          <mat-selection-list #selections (selectionChange)="onSelectCheckBox($event, selections.selectedOptions)">
            <mat-list-option *ngFor="let group of allGroups" [value]="group" selected>
              {{group.name}}
            </mat-list-option>
          </mat-selection-list>
          <p>
            {{'All.text.notifications.selectedElemetns'|translate}}: {{selections && selections.selectedOptions.selected.length}}
          </p>
        </div>
        <!-- <ng-template #teacherList> -->
        <div *ngIf="selected == 'STUDENT'">
          <div class="col-md-12">
            <mat-selection-list #selections (selectionChange)="onSelectCheckBox($event, selections.selectedOptions)">
              <mat-list-option *ngFor="let student of StudentsOfSelectedGroup" [value]="student" selected>
                {{student.name}}
              </mat-list-option>
            </mat-selection-list>
          </div>
          <p>
            {{'All.text.notifications.selectedElemetns'|translate}}: {{selections && selections.selectedOptions.selected.length}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- https://angular.io/api/common/NgSwitch 
https://codecraft.tv/courses/angular/built-in-directives/ngif-and-ngswitch/
-->