<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myTopnav">
  <div class="container container-fluid">


    <div class="navbar-header">
      <div class="logo">
        <a href="index.html" class="simple-text">
          <div class="logo-img">
            <img src="assets/images/icon/plumedor-logo.png" alt="La plume D'or logo" class="logo"/>
          </div>
        </a>
      </div>
    </div>

    <div>
      <button href="javascript:void(0);" class="toggle-button" (click)="showBar()" >
        <i class="fa fa-bars dark"></i>
      </button>
    </div>

    <div *ngIf="isLogged && loggedUser">
      <app-logged-user [ngClass]="showMenuItems ? 'display-menu-items' : 'hide-menu-items'"
        [loggedUser]="loggedUser" [roles]="roles"></app-logged-user>
    </div>

    <div *ngIf="!isLogged">
      <app-landing-page [ngClass]="showMenuItems ? 'display-menu-items' : 'hide-menu-items'"></app-landing-page>  
    </div>

  </div>
</nav>