.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-selected-value {
  margin: 15px 0;
}

.margin-30 {
    margin-right: 20px;
}

.select-option {
  display:inline-block !important;
  text-align:center !important;
}

.choice-toggle {
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
}

.group-selection {
  margin-right: 10px;
  margin-left: 10px;
  bottom: 5px;
}

.profile-icon {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.student-assign {
  padding: 10px;
  display: grid;
}