<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img profile-image" [src]="BASE_URL + user.photo"
                            [default]="'assets/images/icon/STUDENT-'+user.gender+'.png'" alt="Smiley face" height="42" width="42" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{'All.text.student.label'|translate}}</h6>
                        <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
                        <p class="card-description">
                            {{ user.email }}
                        </p>
                        <p class="card-description">
                            {{'label.registered' | translate}}: {{ user.createdAt | date }}
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.firstName' | translate}}" formControlName="firstName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input i18n matInput placeholder="{{'label.lastName' | translate}}" formControlName="lastName" required />
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.email' | translate}}" type="email"
                                            formControlName="email" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="text" placeholder="{{'label.gender' | translate}}" value="{{'GLBL.' + user.gender | translate}}"
                                         formControlName="gender">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" dir="ltr">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.phoneNumber' | translate}}" type="text" formControlName="phone">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker" placeholder="{{'All.text.placeholder.BirthDate'|translate}}"
                                            formControlName="birthDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.levelName' | translate}}" type="text" value="{{getLevel(user) | translate}}"
                                         formControlName="levelName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.groupName' | translate}}" type="text"
                                            formControlName="groupName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.parentName' | translate}}" type="text"
                                            formControlName="parentName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" dir="ltr">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.parentPhone' | translate}}" type="text"
                                            formControlName="parentPhone">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="{{'label.address' | translate}}" type="text" formControlName="address"
                                            required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                         [placeholder]="'All.text.label.Description' | translate"
                                         formControlName="description"
                                         rows="3"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button class="btn btn-warning pull-right" [disabled]="form.invalid"
                             (click)="onUpdate()" >{{'All.text.Profile.Update'|translate}}</button>               
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>