<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="markForm" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select matInput placeholder="Level" formControlName="level" (ngModelChange)="selectLevel($event)" required>
                    <mat-option *ngFor="let lev of levels" [value]="lev" required>
                      {{ lev }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select matInput placeholder="Group" formControlName="group" required>
                    <mat-option *ngFor="let grp of groups" [value]="grp" required>
                      {{ grp.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button mat-raised-button type="submit" class="btn btn-warning pull-right">Search</button>
                <div class="clearfix"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>