<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="markForm" (ngSubmit)="onSubmit()">
            <div class="row">

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select matInput [placeholder]="'All.text.label.LevelName' | translate" formControlName="level" (ngModelChange)="selectLevel($event)" required>
                    <mat-option *ngFor="let lev of levels" [value]="lev" required>
                      {{'GLBL.label.'+lev | translate}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-select matInput
                   [placeholder]="'All.text.label.GroupName' | translate"
                   formControlName="group"
                   required>
                    <mat-option *ngFor="let grp of groups" [value]="grp" required>
                      {{ grp.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <button mat-raised-button type="submit" class="btn btn-warning pull-right">
                    {{'All.text.search' | translate}}
                </button>
                <div class="clearfix"></div>
              </div>
              
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>