<div class="card card-profile">
    <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div class="row">
                <div class="col-md-3">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <img class="img profile-image" src="assets/images/upload-pdf-icon.png" alt="upload bulletin"
                        height="39" width="39" />
                    <button mat-raised-button class="btn btn-default" (click)="fileInput.click()">
                        {{'All.text.selectFile' | translate}}
                    </button>
                    <div *ngIf="isUploading">
                        <button mat-raised-button class="btn btn-warning buttonload">
                            {{'All.text.uploading' | translate}}<i class="fa fa-circle-o-notch fa-spin"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div *ngIf="!isUploading">
                        <button mat-raised-button class="btn btn-warning" (click)="onUpload()">
                            <span class="glyphicon glyphicon-cloud-upload"></span>{{'All.text.upload' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card card-profile">
    <div class="card-body">
        <div *ngIf="currentGroup != null; else noContent">
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <a mat-raised-button class="btn btn-link" [href]="BASE_URL + currentGroup.timeTableUrl" target="_blank"
                        download="emploi-du-temps">
                        <span class="material-icons">arrow_downward</span>{{'All.text.download' | translate}}
                    </a>
                </div>
            </div>
            <div class="row">
                <a mat-raised-button class="btn btn-link" [href]="BASE_URL + currentGroup.timeTableUrl" target="_blank"
                    download="emploi-du-temps">
                    <img class="img time-table" default="assets/images/image-not-found-404.png"
                        [src]="BASE_URL + currentGroup.timeTableUrl" [alt]="currentGroup.name + ' Time table'" />
                </a>
            </div>
        </div>
        <ng-template #noContent>{{'All.text.timeTable.noContent' | translate}}</ng-template>
    </div>
</div>