<div class="card card-profile">
  <div class="card-body">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-7">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter New Password" type="password" formControlName="password"/>
            <mat-error *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.required">
                Password is required
            </mat-error>
            <mat-error *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.minlength">
                Password must be at least 6 characters
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <a class="text-primary" *ngIf="false && student.registerUrl" [href]="BASE_URL + student.registerUrl" target="_blank">
                <img class="img profile-image" src="assets/images/pdf-icon.png" alt="Smiley face" height="42" width="42" />
                <strong> &nbsp;&nbsp;Registration file</strong>
            </a>
        </div>
        <div class="col-md-7">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm New Password" type="password" formControlName="passwordConfirm" />
            <mat-error *ngIf="passwordForm.controls.passwordConfirm.errors &&  passwordForm.controls.passwordConfirm.errors.required">
                Password confirmation is required
            </mat-error>
            <mat-error *ngIf="passwordForm.errors && passwordForm.errors.mismatch">
                Password confirmation does not match
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-5"></div>
      </div>
      <button
        mat-raised-button
        [disabled]="passwordForm.pristine || passwordForm.invalid"
        type="submit"
        class="btn btn-warning pull-right"
      >
        Update Password
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>