<div class="card card-profile">
        <div class="card-body">
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.label | translate"
                                [disabled]="tab.disabled"></mat-tab>
                </mat-tab-group>
        </div>
</div>
<app-student-profile *ngIf="selected.value === tabIndex.PROFILE && student != null" [student]="student" [isNew]="isNew"
        (studentRequest)="onUpdate($event)"></app-student-profile>

<app-update-password *ngIf="selected.value === tabIndex.PASSWORD && student != null" [user]="student"></app-update-password>

<app-bulletin *ngIf="selected.value === tabIndex.BULLETIN && student != null" [student]="student"></app-bulletin>

<app-time-table *ngIf="selected.value === tabIndex.TIME_TABLE && student != null" [student]="student"></app-time-table>