<div *ngIf="student">
  <table class="table">
    <thead class=" text-primary">
      <th></th>
      <th>
        Trimester
      </th>
      <th>
        Date de délibération
      </th>
        <th *ngIf="authority === 'admin'">
          Supprimer
        </th>
    </thead>
    <tbody>
      <tr *ngFor="let bulletin of student.bulletins">

          <!--        <div> *ngIf="bulletin.fileUrl !== null"> -->
          <td class="text-primary">
            <a [href]="BASE_URL + bulletin.fileUrl" target="_blank">
              <img class="img profile-image" src="assets/images/pdf-icon.png" alt="Smiley face" height="42" width="42" />
            </a>
          </td>
          <td>
            <b>{{ bulletin.trimester }}</b>
          </td>
          <td>
            {{ bulletin.createdAt | date }}
          </td>
            <td *ngIf="authority === 'admin'" class="td-actions text-right" >
              <button (click)="onDeleteBulletin($event, bulletin.id)"  type="button" class="btn btn-danger btn-sm" [disabled]="false">Supprimer X</button>              
            </td>
      </tr>
    </tbody>
  </table>
</div>