<div class="card card-profile">
        <div class="card-body">
                <div *ngIf="group != null; else noContent">
                        <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                        <a mat-raised-button class="btn btn-link" [href]="BASE_URL + group.timetabeUrl"
                                                target="_blank" download="emploi-du-temps">
                                                <span class="material-icons">arrow_downward</span>{{'All.text.timetable.download'|translate}}
                                        </a>
                                </div>
                        </div>
                        <div class="row">
                                <a mat-raised-button class="btn btn-link" [href]="BASE_URL + group.timetabeUrl"
                                        target="_blank" download="emploi-du-temps">
                                        <img class="img time-table" default="assets/images/image-not-found-404.png" [src]="BASE_URL + group.timetabeUrl"
                                                [alt]="group.name + ' Time table'" />
                                </a>
                        </div>
                </div>
                <ng-template #noContent>{{'All.text.timetable.noTimetable' | translate}}</ng-template>
        </div>
</div>