
<div class="card footer-less" *ngIf="notification">
    <div class="card-body">
        <br />

        <div class="row">
            <div class="col-md-8">
                <h4>{{notification.title}}</h4>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 pull-right">
                <p class="card-description  pull-right">
                    <mat-panel-description>
                        <mat-icon>date_range</mat-icon>
                        {{'All.text.notifications.Date'|translate}}: {{notification.createdAt | date: 'dd/MM/yyyy'}}
                    </mat-panel-description>
                </p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-5 subject-align">
                <label>{{'All.text.label.Subject'|translate}} : </label>
                <span >
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip color="accent" selected>{{'All.text.notifications.Type.' + notification.type | translate}}</mat-chip>
                    </mat-chip-list>
                </span>                    
            </div>
            <div class="col-md-5">
                <label>{{'All.text.notifications.sender'|translate}} : </label>
                <img class="profile-image profile-image-avatar" [src]="BASE_URL + notification.notifier?.photo" [default]="'assets/images/icon/ADMIN.png'"/>
                <strong> {{notification.notifier?.firstName}} {{notification.notifier?.lastName}} </strong>
            </div>
            <div class="col-md-2" *ngIf="notification.fileUrl">
                <label>{{'All.text.notifications.file'|translate}} </label>
                <a [href]="BASE_URL+notification.fileUrl" target="_blank">
                    <img src="assets/images/pdf-icon.png" alt="pièce jointe" height="42" width="42" />
                </a>
            </div>
        </div>

        <div class="row margin-top-16">
            <div class="col-md-1">
                <label>{{'All.text.notifications.content'|translate}}: </label>
            </div>
            <div class="col-md-12">
                <span>{{notification.content}}</span>
            </div>
        </div>

    </div>

</div>

<div class="notification-footer" *ngIf="notification && !this.isNotifReceived">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                                (closed)="panelOpenState = false">

        <!-- Panel title -->
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{'All.text.notifications.count'|translate: {count: (notification.notifiedUsers && notification.notifiedUsers.length ? notification.notifiedUsers.length : 0)} }}
            </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- Panel body -->
            <div>
            <div class="row" *ngIf="isAllowedToDelete()">
                <div class="col-md-12">
                    <button (click)="onDelete($event, notification.id)" type="button" class="btn btn-danger btn-sm pull-right" *ngIf="!isNotifReceived">
                        {{'All.text.delete' | translate}} X
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 margin-top-16" *ngFor="let notified of notification.notifiedUsers">
                    <img class="profile-image profile-image-avatar" [src]="BASE_URL + notified?.photo" [default]="'assets/images/icon/ADMIN.png'"/>
                    <strong> {{notified?.firstName}} {{notified?.lastName}} </strong>
                </div>
            </div>
            </div>

        </mat-expansion-panel>
    </mat-accordion>
</div>
