<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <h2>Vision</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="fondateur">
          Fondateur:
        </label>
        <input type="text" id="fondateur" class="form-control" name="fondateur" [ngModel]="aboutUs.fondateur" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="vision">
          Vision Titre:
        </label>
        <input type="text" id="vision" class="form-control" name="vision" [ngModel]="aboutUs.vision" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="visionDescriptions">
      Description de la vision du projet:
    </label><br />
    <label for="visionDescriptions">
      Paragraphe 1:
    </label>
    <textarea type="text" id="visionDescriptions" class="form-control" name="visionDescriptions"
      [ngModel]="aboutUs.visionDescriptions[0]" required></textarea>
    <label for="visionDescriptions">
      Paragraphe 2:
    </label>
    <textarea type="text" id="visionDescriptions" class="form-control" name="visionDescriptions"
      [ngModel]="aboutUs.visionDescriptions[1]" required></textarea>
    <label for="visionDescriptions">
      Paragraphe 3:
    </label>
    <textarea type="text" id="visionDescriptions" class="form-control" name="visionDescriptions"
      [ngModel]="aboutUs.visionDescriptions[2]" required></textarea>
    <hr />
  </div>
  <br />
  <h2>Promesse</h2>
  <div class="form-group">
    <label for="promesse">
      Promesse Titre
    </label>
    <input type="text" id="promesse" class="form-control" name="promesse" [ngModel]="aboutUs.promesse" required>
  </div>

  <div class="form-group">
    <label for="promesseDesc">
      promesse Description
    </label>
    <input type="text" id="promesseDesc" class="form-control" name="promesseDesc" [ngModel]="aboutUs.promesseDesc"
      required>
  </div>
  <div class="form-group">
    <label for="promesseDescPrimary">
      promesse Description Primary
    </label>
    <input type="text" id="promesseDescPrimary" class="form-control" name="promesseDescPrimary"
      [ngModel]="aboutUs.promesseDescPrimary" required>
  </div>

  <br />
  <h2>Pedagogie</h2>
  <div class="form-group">
    <label for="motDeResponsable">
      mot Du Responsable
    </label>
    <input type="text" id="motDeResponsable" class="form-control" name="motDeResponsable"
      [ngModel]="aboutUs.motDeResponsable" required>
  </div>
  <div class="form-group">
    <label for="SystemeDescriptions">
      SystemeDescriptions
    </label>
    <label for="SystemeDescriptions">
      Paragraphe 1:
    </label>
    <textarea type="text" id="SystemeDescriptions" class="form-control" name="SystemeDescriptions"
      [ngModel]="aboutUs.SystemeDescriptions[0]" required></textarea>
    <textarea type="text" id="SystemeDescriptions" class="form-control" name="SystemeDescriptions"
      [ngModel]="aboutUs.SystemeDescriptions[1]" required></textarea>
    <textarea type="text" id="SystemeDescriptions" class="form-control" name="SystemeDescriptions"
      [ngModel]="aboutUs.SystemeDescriptions[2]" required></textarea>
    <textarea type="text" id="SystemeDescriptions" class="form-control" name="SystemeDescriptions"
      [ngModel]="aboutUs.SystemeDescriptions[3]" required></textarea>
    <textarea type="text" id="SystemeDescriptions" class="form-control" name="SystemeDescriptions"
      [ngModel]="aboutUs.SystemeDescriptions[4]" required></textarea>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
</form>