<div *ngIf="isLoggedIn; else loggedOut">
</div>

<ng-template #loggedOut>
  <div class="row">

    <div class="col-md-5">
      <img src="../../assets/images/connexion.jpg" class="img-fluid" alt="Responsive image" style="width: 100%;">
    </div>

    <div class="col-md-7">
      <br>
      <h3>{{'signIn.credentials.title' | translate}}</h3>
      <br>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="username">{{'signIn.credentials.email' | translate}}</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="form.username" #username="ngModel"
            required />
          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">{{'signIn.credentials.email.required' | translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">{{'signIn.credentials.password' | translate}}</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
            required minlength="6" />
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">{{'signIn.credentials.password.required' | translate}}</div>
            <div *ngIf="password.errors.minlength">{{'signIn.credentials.password.constraint.length' | translate}}</div>
          </div>
        </div>
        <div class="form-group center">

          <div *ngIf="isLogging; else isNotLogging">
            <button mat-raised-button class="btn btn-primary">
              {{'signIn.credentials.loading' | translate}}<i class="fa fa-circle-o-notch fa-spin"></i>
            </button>
          </div>
          <ng-template #isNotLogging>
            <button mat-raised-button class="btn btn-primary">
              <span class="glyphicon glyphicon-cloud-upload">{{'signIn.credentials.login' | translate}}</span>
            </button>
          </ng-template>
        </div>
        <div class="form-group center">
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            {{'signIn.credentials.failure' | translate}}
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>