
<div *ngIf="!isLoggedIn">
  <div class="row login-panel">

    
    <div class="col-md-6 login-panel-background"></div>
    <div class="col-md-6">

      <br>   <br>      
      <h3 class="enter-credentials">{{'signIn.credentials.title' | translate}}</h3>
      <br>

      <form name="form" (ngSubmit)="onSignIn()" #f="ngForm" novalidate>
        <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'signIn.credentials.email' | translate" type="email" [formControl]="email" required/>
            <mat-error *ngIf="email.errors?.required">
                {{'signIn.credentials.email.required' | translate}}
            </mat-error>
            <mat-error *ngIf="email.errors?.email">
              {{'signIn.credentials.email.patternNotCorrect' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'signIn.credentials.password' | translate" [formControl]="password" type="password" required/>
            <mat-error *ngIf="password.errors?.required">
                {{'signIn.credentials.password.required' | translate}}
            </mat-error>
            <mat-error *ngIf="password.errors?.minlength">
                {{'signIn.credentials.password.constraint.length' | translate}}
            </mat-error>
        </mat-form-field>

        <div class="form-group center" *ngIf="isLoginFailed && errorMessage">
          <button mat-raised-button class="alert alert-danger">
            {{'signIn.credentials.failure' | translate}}
          </button>
        </div>

        <div class="form-group center">
          <div *ngIf="isLogging">
            <button mat-raised-button class="btn btn-warning">
              {{'signIn.credentials.loading' | translate}}<i class="fa fa-circle-o-notch fa-spin"></i>
            </button>
          </div>
          <div *ngIf="!isLogging">
            <button mat-raised-button class="btn btn-warning" [disabled]="email?.invalid && password?.invalid ">
              <span class="glyphicon glyphicon-cloud-upload">{{'signIn.credentials.login' | translate}}</span>
            </button>
          </div>
        </div>

      </form>
    </div>
    
  </div>
  <div>

  