.row {
    margin: 50px 10vw;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.6);
}

.col-md-5 {
    padding: unset;
    position: relative;
}

.col-md-5 img {
    height: 100%;
}

.col-md-7 {
    background-color: white;
}

.col-md-7 h3 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.login-panel {
    opacity: 0.9;
    background-color: white;
    border-radius: 4px;
    margin: 6em 7em;
    height: 420px;
}

.enter-credentials {
    text-align: center;
}

.login-panel-background {
    background-image: url('assets/images/login-modal.jpg');
    background-size: cover;
}