<div class="example-container">
    <h2>Student At {{ group.level }}</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let student of students" cdkDrag>{{student.firstname + ' ' + student.lastname}}</div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Student in {{ group.name }}</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let student of group.students" cdkDrag>{{student.firstname + ' ' + student.lastname}}</div>
    </div>
  </div>
  
  