<cdk-virtual-scroll-viewport itemSize="50" minBufferPx="200" maxBufferPx="400" class="example-viewport width-350">
  <div *cdkVirtualFor="let student of students" class="example-item">
    <button class="button-no-style"><span>
        <div class="block  student-item student-hover" (click)="onDetailMarks(student)">
          <div *ngIf="(student.photo !== undefined && student.photo !== null); else defaultPhoto">
            <img [src]="'https://spring-boot-demo-app-cloud.cfapps.io' + student.photo.substr(1)" alt="Smiley face"
              class="avatar" (click)="onDetailMarks(student)" />
          </div>

          <ng-template #defaultPhoto>
            <img src="./assets/images/profile-logo.png" alt="Smiley face" class="avatar" (click)="onDetailMarks(student)" />
          </ng-template>

          <div class="message">
            {{student.firstname}} {{student.lastname}}
          </div>
        </div>
      </span>
    </button>
  </div>
</cdk-virtual-scroll-viewport>