<div class="chatform">
  <div class="chatlist">
    <ul class="list-group">
      <div>
        <li class="list-group-item" *ngFor="let student of students">
          <div *ngIf="(student.photo !== undefined && student.photo !== null); else defaultPhoto">
            <img [src]="'https://spring-boot-demo-app-cloud.cfapps.io' + student.photo.substr(1)" alt="Smiley face"
              class="avatar" />
          </div>
          <ng-template #defaultPhoto>
            <img src="./assets/images/profile-logo.png" alt="Smiley face" class="avatar" />
          </ng-template>
          
          <div class="message">
            {{student.firstname}} {{student.lastname}}
          </div>
          <!-- <div class="timeform">
            <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">at {{student.createdAt | date :
              'dd/MM/yyyy' }}</span>
          </div> -->
        </li>
      </div>
    </ul>
  </div>
</div>