<div class="card card-profile">
  <div class="card-body">
    <div *ngIf="notifications && notifications.length>0; else noContent">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <th>
              {{'All.text.notifications.Title'|translate}}
            </th>
            <th>
              {{'All.text.notifications.Content'|translate}}
            </th>
            <th>
              {{'All.text.notifications.notifier'|translate}}
            </th>
            <th>
              {{'All.text.notifications.Date'|translate}}
            </th>
          </thead>
          <tbody>
            <tr *ngFor="let notification of notifications; let i=index"  [ngClass]="i < currentUser.newNotifications ? 'backgroud-ghost-white' : ''">
              <td class="text-primary">
                <strong>{{notification.title}}</strong>
              </td>
              <td>
                <p>{{notification.content}}</p>
              </td>
              <td class="text-primary">
                <strong>{{notification.notifier.firstName}} {{notification.notifier.lastName}}</strong>
              </td>
              <td>
                <p>{{notification.createdAt | date:'dd / MM / yyyy'}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noContent>{{'All.text.notifications.noContent'|translate}}</ng-template>
  </div>