<div class="card card-profile">
  <div class="card-body">
    <div *ngIf="notifications && notifications.length>0; else noContent">
      
        <div class="mat-elevation-z8 table-responsive">
          <mat-spinner *ngIf="isLoading" [diameter]="150" class="center"></mat-spinner>
            <table mat-table *ngIf="!isLoading" [dataSource]="dataSource" class="table">
                <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef class="text-primary"> {{'All.text.notifications.Title' | translate}} </th>
                    <td mat-cell *matCellDef="let notif" class="text-primary"><strong> {{notif.title}} </strong></td>
                </ng-container>
                <ng-container matColumnDef="Content">
                    <th mat-header-cell *matHeaderCellDef class="text-primary"> {{'All.text.notifications.Content' | translate}} </th>
                    <td mat-cell *matCellDef="let notif"> {{notif.content}} </td>
                </ng-container>
                <ng-container matColumnDef="Notifier">
                    <th mat-header-cell *matHeaderCellDef class="text-primary"> {{'All.text.notifications.notifier' | translate}} </th>
                    <td mat-cell *matCellDef="let notif" class="text-primary"><strong> {{notif.notifier.firstName}} {{notif.notifier.lastName}} </strong></td>
                </ng-container>
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef class="text-primary"> {{'All.text.notifications.Date' | translate}} </th>
                    <td mat-cell *matCellDef="let notif">{{notif.createdAt | date:'dd / MM / yyyy'}}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </div>
    <ng-template #noContent>{{'All.text.notifications.noContent'|translate}}</ng-template>
  </div>
</div>