<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="row table-responsive">
                        <table class="table">
                            <th scope="col" class=" text-primary">
                                {{'All.text.emails.senderName' | translate}}
                            </th>
                            <th>
                                {{'All.text.emails.senderEmail' | translate}}
                            </th>
                            <th>
                                {{'All.text.emails.emailBody' | translate}}
                            </th>

                            <tbody>
                                <tr *ngFor="let email of emailsPage">
                                    <td class="text-primary">
                                        <strong>{{ email.senderName }}</strong>
                                    </td>
                                    <td>
                                        {{ email.senderEmail }}
                                    </td>
                                    <td>
                                        {{ email.message }}
                                    </td>
                                    <td class="td-actions text-right">
                                        <button (click)="onDelete(email)" type="button" class="btn btn-danger btn-sm">
                                            {{'All.text.delete' | translate}} X
                                        </button>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>