<div class="card card-profile">
    <div class="card-body">
      <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-7">
            <mat-form-field class="example-full-width">
              <input matInput [placeholder]="'All.Password.placeholder' | translate" type="password" formControlName="password" />
              <mat-error *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.required">
                {{'All.Password.ErrorMessage.Required'|translate}}
              </mat-error>
              <mat-error *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.minlength">
                {{'All.Password.ErrorMessage.MinLength'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-2">
              <a class="text-primary" *ngIf="false && teacher.registerUrl" [href]="BASE_URL + teacher.registerUrl" target="_blank">
                  <img class="img profile-image" src="assets/images/pdf-icon.png" alt="Smiley face" height="42" width="42" />
                  <strong> &nbsp;&nbsp;{{'All.text.Registration.File' | translate}}</strong>
                </a>
          </div>
          <div class="col-md-7">
            <mat-form-field class="example-full-width">
              <input matInput [placeholder]="'All.Password.placeholder.confirm' | translate" type="password" formControlName="passwordConfirm" />
              <mat-error *ngIf="passwordForm.controls.passwordConfirm.errors &&  passwordForm.controls.passwordConfirm.errors.required">
                {{'All.Password.ErrorMessage.Required'|translate}}
              </mat-error>
              <mat-error *ngIf="passwordForm.errors && passwordForm.errors.mismatch">
                {{'All.Password.ErrorMessage.NotMatch'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-5"></div>
        </div>
        <button
          mat-raised-button
          [disabled]="passwordForm.pristine || passwordForm.invalid"
          type="submit"
          class="btn btn-warning pull-right"
        >
          {{'All.text.updatePassword'|translate}}
        </button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>