<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="telephone">
          Telephone
        </label>
        <input type="text" id="telephone" class="form-control" name="telephone" [ngModel]="contact.telephone" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="faxe">
          Faxe
        </label>
        <input type="text" id="faxe" class="form-control" name="faxe" [ngModel]="contact.faxe" required>
      </div>
    </div>
  </div>
    <div class="form-group">
      <label for="email">
        E-mail
      </label>
      <input type="text" id="email" class="form-control" name="email" [ngModel]="contact.email" required>
    </div>
    <div class="form-group">
      <label for="adresse">
        Adresse
      </label>
      <input type="text" id="adresse" class="form-control" name="adresse" [ngModel]="contact.adresse" required>
    </div>
  <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
</form>