<div class="card card-profile">
  <div class="card-body">

    <form [formGroup]="passwordForm">

      <div class="row">
        <div class="col-md-6">

          <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'All.Password.placeholder' | translate" [type]="hide ? 'password' : 'text'"
              formControlName="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.required">
              {{'All.Password.ErrorMessage.Required'|translate}}
            </mat-error>
            <mat-error *ngIf="passwordForm.controls.password.errors && passwordForm.controls.password.errors.minlength">
              {{'All.Password.ErrorMessage.MinLength'|translate}}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'All.Password.placeholder.confirm' | translate"
              [type]="confirmHide ? 'password' : 'text'" formControlName="passwordConfirm" />
            <button mat-icon-button matSuffix (click)="confirmHide = !confirmHide"
              [attr.aria-label]="'Hide confirmHide'" [attr.aria-pressed]="confirmHide">
              <mat-icon>{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error
              *ngIf="passwordForm.controls.passwordConfirm.errors &&  passwordForm.controls.passwordConfirm.errors.required">
              {{'All.Password.ErrorMessage.Required'|translate}}
            </mat-error>
            <mat-error *ngIf="passwordForm.errors && passwordForm.errors.mismatch">
              {{'All.Password.ErrorMessage.NotMatch'|translate}}
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button mat-raised-button [disabled]="passwordForm.pristine || passwordForm.invalid" (click)="onSubmit()"
            class="btn btn-warning pull-right">
            {{'All.text.updatePassword'|translate}}
          </button>
          <button mat-raised-button (click)="onGeneratePassword()" class="btn btn-info pull-right">
            {{'All.text.generatePassword'|translate}}
          </button>
        </div>
      </div>

    </form>

  </div>
</div>