<div class="card card-profile">
  <div class="card-body">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-md-3">
          <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
          <img class="img upload-icon" src="assets/images/icon/upload-pdf-icon.ico" alt="upload bulletin" />
          <button mat-raised-button class="btn btn-default" (click)="fileInput.click()">
              {{'All.text.selectFile' | translate}}
          </button>
          <dinpv *ngIf="isUploading">
            <button mat-raised-button class="btn btn-warning buttonload">
                {{'All.text.uploading' | translate}}<i class="fa fa-circle-o-notch fa-spin"></i>
                
            </button>
          </dinpv>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-select matInput [placeholder]="'All.text.Trimester' | translate" [(value)]="selectedTrimester" required>
              <mat-option *ngFor="let trimester of trimesters" [value]="trimester" required>
                {{'All.text.Trimesters.'+trimester | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <div *ngIf="!isUploading">
            <button mat-raised-button class="btn btn-warning" (click)="onUpload()"
              [disabled]="!selectedTrimester || !selectedFile">
              <span class="glyphicon glyphicon-cloud-upload"></span>{{'All.text.upload' | translate}}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card card-profile">
  <div class="card-body">
    <div *ngIf="student">
      <table class="table">
        <thead class=" text-primary">
          <th>{{'All.text.file' | translate}}</th>
          <th>
              {{'All.text.Trimester' | translate}}
          </th>
          <th>
              {{'student.bulletins.deliberation' | translate}}
          </th>
          <th>
              {{'All.text.delete' | translate}}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let bulletin of student.bulletins">
            <td class="text-primary">
              <a *ngIf="bulletin.fileUrl != null" [href]="BASE_URL + bulletin.fileUrl" target="_blank">
                <img class="img profile-image" src="assets/images/pdf-icon.png" alt="bulletin icon" height="42"
                  width="42" />
              </a>
            </td>
            <td>
              <strong>{{'All.text.Trimesters.'+bulletin.trimester | translate}}</strong>
            </td>
            <td>
              {{ bulletin.createdAt | date }}
            </td>
            <td class="td-actions text-right">
              <button (click)="onDeleteBulletin($event, bulletin.id)" type="button" class="btn btn-danger btn-sm"
                [disabled]="false">
                {{'All.text.delete' | translate}} X
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
