<ul class="nav navbar-nav jet-menu flex-menu">
  <li class="nav-item" routerLinkActive="active" *ngFor="let route of navBar">
    <a class="nav-link" [routerLink]="route.router">
      <div *ngIf="route.icon !== 'bell' else bell"></div>
      {{route.label | translate}}
    </a>
  </li>

  <li class="nav-item dropdown">
    <a class="dropdown-toggle nav-link background-white" data-toggle="dropdown">

      <img *ngIf="isAdmin()" class="radius-image" src="assets/images/icon/ADMIN.png"/>

       <img *ngIf="!isAdmin() && loggedUser.type" class="radius-image" [src]="BASE_URL + loggedUser?.photo" 
        [default]="'assets/images/icon/'+loggedUser.type+'-'+loggedUser.gender+'.png'"
        alt="smile-face"/>
        {{loggedUser.firstName || loggedUser.lastName}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a *ngIf="this.authority !== 'ROLE_ADMIN'" (click)="showProfile()">{{'header.profile' | translate}}</a></li>
      <li><a (click)="updatePasswordRedirect()">{{'All.text.updatePassword' | translate}}</a></li>
      <li><a (click)="logout()">{{'header.logout' | translate}}</a></li> 
    </ul>
  </li>
</ul>

<ng-template #bell>
  <i class="material-icons margin-5">notifications</i>
  <span *ngIf="loggedUser.newNotifications && loggedUser.newNotifications!=0" class="notification position">
    {{loggedUser.newNotifications}}
  </span>
</ng-template>