<div class="card card-profile">
  <div class="card-body">
    <div class="row">

      <div class="col-md-2">
        <p class="grey">Filter</p>
        <app-student-assign-filter ></app-student-assign-filter>
      </div>

      <div class="col-md-10">
        <div cdkDropListGroup>
          <div class="example-container">
            <p class="grey">Eleves non affectes a {{group.name}}</p>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let student of todo" cdkDrag>
                <mat-card-header>
                  <div class="row">
                    <div class="col-md-3">
                      <div *ngIf="student.photo != null; else defaultPhoto">
                        <img class="img profile-image" [src]="BASE_URL + student.photo" alt="Smiley face" height="39"
                          width="39" />
                      </div>
                      <ng-template #defaultPhoto>
                        <img class="img profile-image" src="./assets/images/profile-logo.png" alt="Smiley face"
                          height="39" width="39" />
                      </ng-template>
                    </div>
                    <div class="col-md-9">
                      <mat-card-title class="black-name">{{student.firstname}} {{student.lastname}}</mat-card-title>
                      <br />
                      <mat-card-subtitle>{{student.email}}</mat-card-subtitle>
                    </div>
                  </div>
                </mat-card-header>
              </div>
            </div>
          </div>

          <div class="example-container">
            <p class="grey">Eleves affectes a {{group.name}}</p>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
              class="example-list" (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let student of done" cdkDrag>
                <mat-card-header>
                  <div class="row">
                    <div class="col-md-3">
                      <div *ngIf="student.photo != null; else defaultPhoto">
                        <img class="img profile-image" [src]="BASE_URL + student.photo" alt="Smiley face" height="39"
                          width="39" />
                      </div>
                      <ng-template #defaultPhoto>
                        <img class="img profile-image" src="./assets/images/profile-logo.png" alt="Smiley face"
                          height="39" width="39" />
                      </ng-template>
                    </div>
                    <div class="col-md-9">
                      <mat-card-title class="black-name">{{student.firstname}} {{student.lastname}}</mat-card-title>
                      <br />
                      <mat-card-subtitle>{{student.email}}</mat-card-subtitle>
                    </div>
                  </div>
                </mat-card-header>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <button mat-raised-button (click)="onSaveStudents()" class="btn btn-warning pull-right">Save Changes</button>
    </div>

  </div>
</div>