<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" routerLink="dashboard">La Plume D'Or</a> -->

        <div class="logo">
          <a routerLink="dashboard" class="simple-text">
              <div class="logo-img">
                  <img src="/assets/img/plumedor-logo.png"/>
              </div>
          </a>
          <a routerLink="/" class="simple-text">La Plume D'or&nbsp;</a>
      </div>

      </div>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <!-- <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li> -->

        <li class="nav-item">
            <a routerLink="/teachers" class="simple-text">teachers&nbsp;</a>
            <a routerLink="/students" class="simple-text">students&nbsp;</a>
            <a routerLink="/subjects" class="simple-text">Subjects&nbsp;</a>
            <a routerLink="/groups" class="simple-text">groups&nbsp;</a>
            <a routerLink="/lessons" class="simple-text">lessons&nbsp;</a>
          </li>

        <li *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user">Student Board</a>
        </li>
        <li *ngIf="authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li *ngIf="authority === 'pm'" class="nav-item">
          <a class="nav-link" routerLink="pm">Teacher Board</a>
        </li>
        <li *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="auth/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>