<div class="card card-profile">
  <div class="card-body">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.label" [disabled]="tab.disabled"></mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-group-students *ngIf="selected.value === tabIndex.STUDENTS && group != null" [students]="group.students"></app-group-students>

<app-group-timetable *ngIf="selected.value === tabIndex.TIME_TABLE && group != null" id="timetable" [group]="group"></app-group-timetable>

<app-group-marks *ngIf="selected.value === tabIndex.MARKS && group != null" id="marks" [group]="group"></app-group-marks>