<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button type="button" class="btn btn-warning pull-right"
                        routerLink="/app/teacher-profile">
                            {{'All.text.create' | translate}}
                        </button>
                    </div>
                </div>

                <div class="mat-elevation-z8 table-responsive">

                        <mat-spinner *ngIf="isLoading" [diameter]="150" class="center"></mat-spinner>
                        <table mat-table *ngIf="!isLoading" [dataSource]="dataSource" class="table">
    
                            <ng-container matColumnDef="photo">
                                <th class="text-primary" mat-header-cell *matHeaderCellDef> {{'All.text.label.Photo' | translate}} </th>
                                <td mat-cell *matCellDef="let teacher">  
                                    <a [routerLink]="APP_TEACHER_PROFILE + teacher.id">
                                        <img class="profile-image" [src]="BASE_URL + teacher.photo"
                                         [default]="'assets/images/icon/TEACHER-'+teacher.gender+'.png'"
                                         [alt]="'All.text.timeTable.smileyFace' | translate"/>
                                    </a>
                                </td>
                            </ng-container>
    
                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef> {{'All.text.label.FirstName' | translate}} </th>
                                <td mat-cell *matCellDef="let teacher"> {{teacher.firstName}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="lastName">
                                <th mat-header-cell *matHeaderCellDef> {{'All.text.label.LastName' | translate}} </th>
                                <td mat-cell *matCellDef="let teacher"> {{teacher.lastName}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="phone">
                                    <th mat-header-cell *matHeaderCellDef> {{'All.text.label.PhoneNumber' | translate}} </th>
                                    <td mat-cell *matCellDef="let teacher"> {{teacher.phone}} </td>
                            </ng-container>
                                
                            <ng-container matColumnDef="description" class="text-primary">
                                    <th mat-header-cell *matHeaderCellDef> {{'All.text.label.Description' | translate}} </th>
                                    <td mat-cell *matCellDef="let teacher"> {{teacher.description}} </td>
                            </ng-container>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
    
                        <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
                    </div>
                    <br/><br/>
            </div>
        </div>
    </div>
</div>