<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button type="button" class="btn btn-warning pull-right"
                         routerLink="/app/teacher-profile">
                            {{'All.text.create' | translate}}
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        {{'All.text.label.Photo' | translate}}
                                    </th>
                                    <th>
                                        {{'All.text.label.FirstName' | translate}}
                                    </th>
                                    <th>
                                        {{'All.text.label.LastName' | translate}}
                                    </th>
                                    <th>
                                        {{'All.text.label.Email' | translate}}
                                    </th>
                                    <th>
                                        {{'All.text.label.PhoneNumber' | translate}}
                                    </th>
                                    <th>
                                        {{'All.text.label.Description' | translate}}
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let teacher of teachers">
                                        <td>
                                            <a [routerLink]="'/app/teacher-profile/' + teacher.id">
                                                <img class="profile-image" [src]="BASE_URL + teacher.photo"
                                                default="assets/images/profile-logo.png"
                                                [alt]="'All.text.timeTable.smileyFace' | translate"/>
                                            </a>
                                        </td>
                                        <td>
                                            {{ teacher.firstname }}
                                        </td>
                                        <td>
                                            {{ teacher.lastname }}
                                        </td>
                                        <td class="text-primary">
                                            {{ teacher.email }}
                                        </td>
                                        <td>
                                            {{ teacher.phone }}
                                        </td>
                                        <td>
                                            {{ teacher.description }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>