<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="teacher">
                    <app-avatar [user]="teacher"></app-avatar>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" formControlName="firstname" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" formControlName="lastname" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email address" type="email" formControlName="email" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-select matInput placeholder="Gender" formControlName="gender">
                                            <mat-option *ngFor="let gen of genders" [value]="gen" required>
                                                {{ gen }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Phone Number" type="text" formControlName="phone">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker" placeholder="Choose Birth Date"
                                            formControlName="birthDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Address" type="text" formControlName="address"
                                            required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Additional information"
                                            formControlName="description" rows="3"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info pull-right"
                                [disabled]="teacherForm.pristine || teacherForm.invalid"
                                *ngIf="teacher.id  == null">Create Profile</button>
                            <button mat-raised-button type="submit" class="btn btn-warning pull-right"
                                [disabled]="teacherForm.invalid"
                                *ngIf="teacher.id != null">Update Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>