<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Group {{ group.name }}:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                      <i class="material-icons">bug_report</i> Group Details
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#students" data-toggle="tab">
                      <i class="material-icons">code</i> Students
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#timetable" data-toggle="tab">
                      <i class="material-icons">code</i> TimeTable
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">

                <form [formGroup]="groupForm" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-8">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Name" formControlName="name" required>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <mat-select matInput placeholder="Level" formControlName="level" required>
                          <mat-option *ngFor="let lev of levels" [value]="lev" required>
                            {{ lev }}
                          </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
                                            <mat-hint>{{animalControl.value?.sound}}</mat-hint>   -->
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Additional information" formControlName="description" rows="2"></textarea>
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="col-md-6">
                        <label>Others details...</label>
                      </div>
                    </div>
                  </div>

                  <button mat-raised-button type="submit" class="btn btn-warning pull-right">Update Group</button>
                  <div class="clearfix"></div>
                </form>

                <!-- STUDENTS LIST -->
                <div>
                  <hr />
                  <p>Students Number: {{ group.students.length}}</p>
                  <form>
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Photo
                        </th>
                        <th>
                          First Name
                        </th>
                        <th>
                          Last Name
                        </th>
                        <th>
                          Email
                        </th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let student of group.students">
                          <td>
                              <a routerLink="/{{ 'student-profile/' + student.id }}">
                                <img [src]="BASE_URL + student.photo.substr(2)" alt="Smiley student face" height="49" width="49" />
                              </a>
                          </td>
                          <td>{{ student.firstname }}
                          </td>
                          <td>{{ student.lastname }}
                          </td>
                          <td>
                              <a routerLink="/{{ 'student-profile/' + student.id }}">{{ student.email }}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
                <!-- STUDENTS LIST -->

              </div>

              <!-- STUDENT ASSIGN COMPONENT-->
              <div *ngIf="ready" class="tab-pane" id="students" >
                <app-student-assign [group]="group"></app-student-assign>
              </div>
              <!-- END STUDENT ASSIGN COMPONENT-->
              
              <!-- STUDENT ASSIGN COMPONENT-->
              <app-group-timetable class="tab-pane" id="timetable" [group]="group"></app-group-timetable>
              <!-- END STUDENT ASSIGN COMPONENT-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>