<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      {{'All.text.group.Name'|translate}}
                                  </th>
                                  <th>
                                    {{'All.text.group.Level'|translate}}
                                  </th>
                                  <th>
                                    {{'All.text.group.Effectif'|translate}}
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let group of groups">
                                      <td class="text-primary">
                                         <a [routerLink]="'/app/show-groups-detail/' + group.id"><strong>{{group.name}}</strong></a>
                                      </td>
                                      <td>
                                         {{'GLBL.label.' + group.level|translate}}
                                      </td>
                                      <td>
                                        {{group.studentsNumber}}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>