<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button type="button" class="btn btn-warning pull-right"
                            routerLink="/teacher-profile">Add Teacher</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Firstname
                                    </th>
                                    <th>
                                        Lastname
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let teacher of teachers">
                                        <td>
                                            <div class="card-profile">
                                                <div class="card-avatar">
                                                    <a routerLink="/{{ 'teacher-profile/' + teacher.id }}">
                                                        <div
                                                            *ngIf="(teacher.photo !== undefined && teacher.photo !== null); else defaultPhoto">
                                                            <img class="img profile-image"
                                                                [src]="BASE_URL + teacher.photo"
                                                                alt="Smiley teacher face" />
                                                        </div>
                                                        <ng-template #defaultPhoto>
                                                            <img class="img profile-image"
                                                                src="./assets/images/profile-logo.png"
                                                                alt="Smiley face" />
                                                        </ng-template>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            {{ teacher.firstname }}
                                        </td>
                                        <td>
                                            {{ teacher.lastname }}
                                        </td>
                                        <td class="text-primary">
                                            {{ teacher.email }}
                                        </td>
                                        <td>
                                            {{ teacher.phone }}
                                        </td>
                                        <td>
                                            {{ teacher.description }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>