<div class="card card-profile">
        <div class="card-body">
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.label"
                                [disabled]="tab.disabled"></mat-tab>
                </mat-tab-group>
        </div>
</div>
<app-student-profile *ngIf="selected.value === tabIndex.PROFILE && student != null" [student]="student" [isNew]="isNew"
        (modifiedStudent)="onUpdateStudent($event)"></app-student-profile>
<app-update-password *ngIf="selected.value === tabIndex.PASSWORD && student != null" [student]="student"
        (modifiedStudent)="refreshStudent($event)"></app-update-password>
<div *ngIf="selected.value === tabIndex.MARKS && student != null" class="card card-profile">
        <div class="card-body">
                <app-student-view-mark-detail [student]="student"></app-student-view-mark-detail>
        </div>
</div>
<app-bulletin *ngIf="selected.value === tabIndex.BULLETIN && student != null" [student]="student"
        (modifiedStudent)="refreshStudent($event)"></app-bulletin>
<app-group-timetable *ngIf="selected.value === tabIndex.TIME_TABLE && student != null"></app-group-timetable>