<div class="card card-profile">
        <div class="card-body">
                <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                        <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab"></mat-tab>
                </mat-tab-group>
        </div>
</div>

<app-student-profile *ngIf="selected.value === 0"></app-student-profile>

<div  *ngIf="selected.value === 2" class="card card-profile">
        <div class="card-body">
                <app-student-view-mark-detail [student]="student"></app-student-view-mark-detail>
        </div>
</div>
<!-- <app-marks *ngIf="selected.value === 3"></app-marks> -->