<div>
    <div *ngIf="isLoading">
        <mat-spinner [diameter]="150" class="center"></mat-spinner>
    </div>

    <div *ngIf="!isLoading">
        <div *ngFor="let notification of notifications | slice: lowValue : highValue">
            <app-notification-content [notification]="notification"  [isNotifReceived]="isNotifReceived"></app-notification-content>
        </div>
    </div>
</div>

<br />
<mat-paginator #paginator [pageSize]="pageSize" [length]="notifications?.length" (page)="pageEvent = getPaginatorData($event)"></mat-paginator>
<br />