<div class="card card-profile">
    <div class="card-avatar">
        <a>
            <img class="img profile-image" [src]="BASE_URL+user.photo" [default]="'assets/images/icon/' + (user.type ? user.type+'-'+user.gender : 'ADMIN') +'.png'"
            alt="" height="42" width="42" />
        </a>
    </div>

    <form>
        <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
        <button mat-raised-button class="btn btn-info" (click)="fileInput.click()">{{'All.text.selectImage' | translate}}</button>
        <div *ngIf="!isUploading; else IsCurrentlyUploading">
            <button mat-raised-button [disabled]="selectedFile == null"  class="btn btn-warning" (click)="onUpload()">
                <span class="glyphicon glyphicon-cloud-upload"></span>{{'All.text.upload' | translate}}
            </button>
        </div>
        <ng-template #IsCurrentlyUploading>
            <button mat-raised-button class="btn btn-warning buttonload">
                {{'All.text.uploading' | translate}}<i class="fa fa-circle-o-notch fa-spin"></i>
            </button>
        </ng-template>
    </form>
    <div class="card-body">
        <h4 class="card-title">{{user.firstName}} {{user.lastName}}</h4>
        <p class="card-description">
            {{'label.registered' | translate}}: {{ user.createdAt | date }}
        </p>
    </div>
</div>