<div class="card card-profile">
  <div class="card-body">
    <mat-tab-group
      [selectedIndex]="selected.value"
      (selectedIndexChange)="selected.setValue($event); onNavigate()"
    >
      <mat-tab
        *ngFor="let tab of tabs; let index = index"
        [label]="tab.label | translate"
      ></mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-subject-form
  [level]="level"
  [subjectToSave]="subjectToSave"
  (refershEvent)="onRefresh($event)"
></app-subject-form>

<app-subject-list
  *ngIf="selectedSubjects != null"
  [subjects]="selectedSubjects"
  (subjectSelected)="onSelectSubject($event)"
></app-subject-list>
