#pinned-button {   
    
    /* set position */
    position: fixed;
    right: 20px;
    bottom: 10px;
    
    cursor: pointer;
 }
 
 /* for testing purpose */
 .img-responsive {
    width: 100%;
    height: auto;
 }

 .add-button {
   color: #8cc152;
 }