<div class="col-md-4">
    <button mat-raised-button (click)="onFilterByLesson(null)">
        {{'All.text.marks.all'|translate}}
    </button>
    <button mat-raised-button>
        {{'label.date'|translate}}
    </button>
    <button *ngFor="let lesson of lessons" mat-raised-button (click)="onFilterByLesson(lesson)">
        {{lesson.subject.name}} aa
    </button>
</div>

<div *ngIf="student" class="card-content table-responsive table-full-width marks-list">
    <table class="table">
        <thead>
            <th>{{'All.text.marks.subject'|translate}}</th>
            <th>{{'All.text.marks.observation'|translate}}</th>
            <th>{{'All.text.marks.mark'|translate}}</th>
            <th>{{'All.text.marks.date'|translate}}</th>
        </thead>
        <tbody>
            <tr *ngFor="let mark of marksToDisplay">
                <td>{{mark.lesson.subject.name}}</td>
                <td>{{mark.observation}}</td>
                <td><span [class]="getMarkStyle(mark.mark)">{{mark.mark}}</span></td>
                <td><span class="timestamp">{{mark.createdAt | date:'dd/MM/yyyy'}}</span></td>
            </tr>
        </tbody>
    </table>
</div>