<!-- <div class="row">
    <div class="col-md-4">
        <mat-form-field>
             <input matInput placeholder="{{'label.date'|translate}}" formControlName="marksDate" required> 
        </mat-form-field>
    </div>
    <div class="col-md-4">
        <mat-form-field>
            <mat-select  matInput placeholder="{{'All.text.students.placeholder.selectSubject'|translate}}" (selectionChange)="onSelectLesson($event.value)">
                <mat-option *ngFor="let lesson of allLessons" [value]="lesson">
                    {{ lesson.subject.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>  -->

<div class="card">
  <div class="card-body">
      <mat-spinner *ngIf="isLoading" [diameter]="150" class="center"></mat-spinner>
      <table mat-table *ngIf="!isLoading" [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="subjectName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "All.text.marks.subject" | translate }}
          </th>
          <td mat-cell *matCellDef="let mark">{{ mark.subjectName }}</td>
        </ng-container>

        <ng-container matColumnDef="teacherName">
          <th mat-header-cell *matHeaderCellDef>
            {{ "All.text.marks.teacher" | translate }}
          </th>
          <td mat-cell *matCellDef="let mark">{{ mark.teacherName }}</td>
        </ng-container>

        <ng-container matColumnDef="mark">
          <th mat-header-cell *matHeaderCellDef>
            {{ "All.text.marks.mark" | translate }}
          </th>
          <td mat-cell *matCellDef="let mark"><span [class]="getMarkStyle(mark.mark)">{{ mark.mark }}</span></td>
        </ng-container>

        <ng-container matColumnDef="observation">
          <th mat-header-cell *matHeaderCellDef>
            {{ "All.text.marks.observation" | translate }}
          </th>
          <td mat-cell *matCellDef="let mark">{{ mark.observation }}</td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef>
            {{ "All.text.marks.date" | translate }}
          </th>
          <td mat-cell *matCellDef="let mark">{{mark.updatedAt|date: "dd/MM/yyyy"}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[7, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>