.main-navigation .menu>li>a, .jet-menu>li>a {
    color: #797979;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 800;
}

.main-navigation .menu>li>a:hover, .jet-menu>li>a:hover {
    color: #ffaf1c;
}

.jet-menu .top-level-link {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 800;
}

.flag-icon {
    height: 19px;
    width: 19px;
    margin-right: 5px;
}

.jet-current-menu-item {
    color: #ffaf1c !important;;
}