<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button type="button" class="btn btn-warning pull-right"
                            routerLink="/student-profile">Add New Student</button>
                        <button mat-raised-button type="button" class="btn btn-warning pull-right">
                            <span class="material-icons">arrow_upward</span>
                            Import File</button>
                    </div>
                </div>
                <app-student-filter [students]="students" (studentsFound)="refreshStudents($event)">
                </app-student-filter>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Firstname
                                    </th>
                                    <th>
                                        Lastname
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Group
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let student of studentsTmp">
                                        <td>
                                            <div class="card-profile">
                                                <div class="card-avatar">
                                                    <a routerLink="/{{ 'student-profile/' + student.id }}">
                                                        <div
                                                            *ngIf="(student.photo !== undefined && student.photo !== null); else defaultPhoto">
                                                            <img class="img profile-image"
                                                                [src]="BASE_URL + student.photo"
                                                                alt="Smiley student face" />
                                                        </div>
                                                        <ng-template #defaultPhoto>
                                                            <img class="img profile-image"
                                                                src="./assets/images/profile-logo.png"
                                                                alt="Smiley face" />
                                                        </ng-template>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            {{ student.firstname }}
                                        </td>
                                        <td>
                                            {{ student.lastname }}
                                        </td>
                                        <td class="text-primary">
                                            {{ student.email }}
                                        </td>
                                        <td>
                                            <div *ngIf="student.group">{{ student.group.name }}</div>
                                            <div *ngIf="!student.group">
                                                <p class="not-assigned"><b>Not Assigned</b></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>