<div class="main-content" *ngIf="currentGroup">
  <div class="container-fluid">

    <div class="row" >
      <div class="card">
        <div class="card-body">
            <h4><b>{{'All.text.group.notAssignedStudents' | translate}} {{unassignedStudents && unassignedStudents.length}}</b></h4>

            <div class="row">
              <div *ngFor="let student of unassignedStudents; let i = index" class="col-md-3 student-assign">
              <button               
                mat-raised-button
                color="basic"
                (click)="onAttachStudent(student)"
              >
              <img class="img profile-icon" [src]="BASE_URL + student.photo"
              [default]="'assets/images/icon/STUDENT-'+student.gender+'.png'" [alt]="'All.text.timeTable.smileyFace' | translate"/>
              {{student.firstName}} {{student.lastName}}
              </button>
              </div>
            </div>

        </div>
      </div>
    </div>

    <div class="row" >
      <div class="card">
        <div class="card-body">
          <h4><b>{{'All.text.group.assignedStudents' | translate}} {{currentGroupStudents && currentGroupStudents.length}}</b></h4>

          <div class="row">
            <div *ngFor="let student of currentGroupStudents; let i = index" class="col-md-3 student-assign">
            <button               
              mat-raised-button
              color="primary"
              (click)="onDetachStudent(student)"
            >
            <img class="img profile-icon" [src]="BASE_URL + student.photo"
             [default]="'assets/images/icon/STUDENT-'+student.gender+'.png'"
             [alt]="'All.text.timeTable.smileyFace' | translate"/>
             {{student.firstName}} {{student.lastName}}
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>