<div class="main-content">
  <div class="container-fluid">
    
      
        <div class="row">
            <button mat-raised-button (click)="onSaveStudents()" class="btn btn-warning pull-right">Save Changes</button>
        </div>

        <div class="row">
        <div class="card">
          <div class="card-body">
            
              <div cdkDropListGroup>
                <div class="example-container">
                  <p class="grey"><strong>({{todo.length }})</strong> Eleves non affectes a {{group.name}}</p>
                  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let student of todo" cdkDrag>
                      <mat-card-header>
                        <div class="row">
                          <div class="col-md-3">
                            <img class="img profile-icon" [src]="BASE_URL + student.photo" 
                             default="assets/images/profile-logo.png" alt="smiley-student-face"/>
                          </div>
                          <div class="col-md-9">
                            <mat-card-title class="black-name">{{student.firstname}} {{student.lastname}}
                            </mat-card-title>
                            <br />
                            <mat-card-subtitle>{{student.email}}</mat-card-subtitle>
                          </div>
                        </div>
                      </mat-card-header>
                    </div>
                  </div>
                </div>

                <div class="example-container">
                  <p class="grey">
                    <strong>({{done.length}})</strong> 
                            Eleves affectes a {{group.name}}
                  </p>
                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let student of done" cdkDrag>
                      <mat-card-header>
                        <div class="row">
                          <div class="col-md-3">
                             <img class="img profile-icon" [src]="BASE_URL + student.photo" 
                              default="assets/images/profile-logo.png" alt="smiley-student-face"/>
                          </div>
                          <div class="col-md-9">
                            <mat-card-title class="black-name">{{student.firstname}} {{student.lastname}}
                            </mat-card-title>
                            <br />
                            <mat-card-subtitle>{{student.email}}</mat-card-subtitle>
                          </div>
                        </div>
                      </mat-card-header>
                    </div>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>
      
    
  </div>
</div>