<div class="card card-profile">
  <div class="card-body">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.label" [disabled]="tab.disabled"></mat-tab>
    </mat-tab-group>
  </div>
</div>
<app-group-detail *ngIf="selected.value === tabIndex.EDIT_CLASS && group != null" [group]="group" (Updatedgroup)="refreshGroup($event)">
</app-group-detail>

<app-student-assign *ngIf="selected.value === tabIndex.STUDENTS && group != null" [group]="group" (Updatedgroup)="refreshGroup($event)">
</app-student-assign>

<app-group-timetable *ngIf="selected.value === tabIndex.TIMETABLE && group != null" id="timetable" [group]="group"
  (Updatedgroup)="refreshGroup($event)"></app-group-timetable>