<div class="card card-profile">
  <div class="card-body">
    <table *ngIf="displayBulletins() else noBulletins" class="table">
      <thead class=" text-primary">
        <th></th>
        <th>
          Trimester
        </th>
        <th>
          Date de délibération
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let bulletin of student.bulletins">
          <td class="text-primary">
            <a [href]="BASE_URL + bulletin.fileUrl" target="_blank">
              <img class="img profile-image" src="assets/images/pdf-icon.png" alt="Smiley face" height="42"
                width="42" />
            </a>
          </td>
          <td>
            <strong>{{ bulletin.trimester }}</strong>
          </td>
          <td>
            {{ bulletin.createdAt | date }}
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noBulletins>Vous ne disposez d'aucun bulletin.
      <img class="img time-table" src="assets/images/image-not-found-404.png" alt="bulletins" />
    </ng-template>
  </div>
</div>