<div class="card card-profile">
  <div class="card-body">
    <table *ngIf="displayBulletins() else noBulletins" class="table">
      <thead class=" text-primary">
        <th></th>
        <th>
          {{'All.text.Trimester' | translate}}
        </th>
        <th>
          {{'student.bulletins.deliberation' | translate}}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let bulletin of student.bulletins">
          <td class="text-primary">
            <a [href]="BASE_URL + bulletin.fileUrl" target="_blank">
              <img class="img profile-image" src="assets/images/pdf-icon.png" alt="Smiley face" height="42"
                width="42" />
            </a>
          </td>
          <td>
            <strong>{{getTrimester(bulletin) | translate}}</strong>
          </td>
          <td>
            {{ bulletin.createdAt | date:'dd / MM / yyyy'}}
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noBulletins>{{'student.bulletins.noBulletin' | translate}}
      <img class="img time-table" src="assets/images/404-error.jpg" alt="bulletins" class="error-404" />
    </ng-template>
  </div>
</div>