<div class="card">
  <div class="card-body">
    <ul>
      <li *ngFor="let mark of newEvaluationMarks">
        <div class="row">
          <div class="col-md-2">
            <strong>{{mark.subjectName}} :</strong>
          </div>

          <div class="col-md-2">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'All.text.marks.label.enter.mark'|translate}}" type="number"
                [(ngModel)]="mark.mark" [disabled]="mark.updatable" required>
            </mat-form-field>
          </div>

          <div class="col-md-5">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{'All.text.marks.label.enter.observation'|translate}}" type="text"
                [(ngModel)]="mark.observation" [disabled]="mark.updatable" required>
            </mat-form-field>
          </div>

          <div class="col-md-1" *ngIf="!mark.isUpdatable">
            <button (click)="onDeleteMark($event, mark)" type="button" class="btn btn-danger btn-sm">X</button>
          </div>

          <div class="col-md-2" *ngIf="!mark.isUpdatable">
            <button (click)="onUpdateMark($event, mark)" type="button"
              class="btn btn-warning btn-sm">{{'All.text.save'|translate}}</button>
          </div>

        </div>
      </li>
    </ul>

  </div>
</div>