<div class="row">
  <div class="col-4">
    <h4>
      {{'All.text.marks.weekly'|translate}}
    </h4>
  </div>
  <div class="offset-md-5 col-md-3">
      <button type="button" class="btn btn-warning btn-sm pull-right" (click)="onSendEvaluation()">
          {{'All.text.marks.save'|translate}}
      </button>
  </div>
</div>

<div class="row marks-form">
  <ul>
    <li *ngFor="let newEvaluationMark of newEvaluationMarks">
      <div class="row">
        <div class="col-md-3">
          <strong>{{newEvaluationMark.lesson.name}} :</strong>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{'All.text.marks.label.enter.mark'|translate}}" type="number" [(ngModel)]="newEvaluationMark.mark"
            [disabled]="newEvaluationMark.updatable" required>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="{{'All.text.marks.label.enter.observation'|translate}}" type="text" [(ngModel)]="newEvaluationMark.observation"
            [disabled]="newEvaluationMark.updatable" required>
          </mat-form-field>
        </div>
        <div class="col-md-1" *ngIf="newEvaluationMark.updatable">
          <button (click)="onDeleteMark($event, newEvaluationMark)"  type="button" class="btn btn-danger btn-sm">X</button>
        </div>
      </div>
    </li>
  </ul>
</div>
