<div class="card card-profile">
  <div class="card-body">
    <mat-tab-group
      [selectedIndex]="selected.value"
      (selectedIndexChange)="selected.setValue($event)"
    >
      <mat-tab
        *ngFor="let tab of tabs; let index = index"
        [label]="tab.label | translate"
        [disabled]="tab.disabled"
      ></mat-tab>
    </mat-tab-group>
  </div>
</div>

<app-group-detail
  *ngIf="selected.value === tabIndex.EDIT_CLASS"
></app-group-detail>

<app-student-assign
  *ngIf="selected.value === tabIndex.STUDENTS"
></app-student-assign>

<app-group-timetable
  *ngIf="selected.value === tabIndex.TIME_TABLE"
></app-group-timetable>

<app-group-marks *ngIf="selected.value === tabIndex.MARKS_LIST" [showForm]="false"></app-group-marks>

<app-group-marks *ngIf="selected.value === tabIndex.EVALUTE_STUDENTS" [showForm]="true"></app-group-marks>
