<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="student">
                    <app-avatar [user]="student"></app-avatar>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="'All.text.label.FirstName' | translate" formControlName="firstname" required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="'All.text.label.LastName' | translate" formControlName="lastname" required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="'All.text.label.Email' | translate" type="email" formControlName="email"
                                            required [disabled]="isNew">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-select matInput [placeholder]="'All.text.label.Gender' | translate" formControlName="gender">
                                            <mat-option *ngFor="let gen of genders" [value]="gen" required>
                                                {{'GLBL.' + gen | translate}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3" dir="ltr">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [placeholder]="'All.text.label.PhoneNumber' | translate" type="text" formControlName="phone">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker"
                                         [placeholder]="'All.text.label.BirthDate' | translate"
                                         formControlName="birthDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-select matInput
                                         [placeholder]="'All.text.label.LevelName' | translate"
                                         formControlName="level" required>
                                            <mat-option *ngFor="let lev of levels" [value]="lev" required>
                                                {{'GLBL.label.'+lev | translate}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-select matInput 
                                         [placeholder]="'All.text.label.GroupName' | translate"
                                         formControlName="group">
                                            <mat-option *ngFor="let grp of groups" [value]="grp">
                                                {{ grp.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input matInput
                                         [placeholder]="'All.text.label.ParentName' | translate"
                                         type="text" formControlName="parentName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4" dir="ltr">
                                    <mat-form-field class="example-full-width">
                                        <input matInput
                                        [placeholder]="'All.text.label.ParentPhone' | translate"
                                        type="text" formControlName="parentPhone">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput
                                         [placeholder]="'All.text.label.Address' | translate"
                                         type="text" formControlName="address"
                                         required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput
                                         [placeholder]="'All.text.label.Description' | translate"
                                         formControlName="description"
                                         rows="3"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button
                                mat-raised-button
                                [disabled]="studentForm.pristine || studentForm.invalid"
                                type="submit"
                                class="btn btn-info pull-right"
                                *ngIf="student.id  == null"
                            >
                                {{'All.text.save' | translate}}
                            </button>
                            <button
                                mat-raised-button
                                [disabled]="studentForm.invalid"
                                type="submit"
                                class="btn btn-warning pull-right"
                                *ngIf="student.id != null"
                            >
                                {{'All.text.update' | translate}}
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>