<div class="card height-500 card-3">
    <div class="card-body">
        <div>
            <button mat-raised-button (click)="onFilterByLesson(null)">{{'student.marks.all' | translate}}</button>
            <button *ngFor="let lesson of lessonsOfCurrentstudent" mat-raised-button (click)="onFilterByLesson(lesson)">
                {{lesson.subjectName}} </button>
        </div>

        <cdk-virtual-scroll-viewport *ngIf="student.marks; else noMarks" itemSize="50" minBufferPx="200"
            maxBufferPx="400" class="example-viewport">
            <table class="table">
                <thead>
                    <th>{{'label.subject' | translate}}</th>
                    <th>{{'label.observation' | translate}}</th>
                    <th>{{'label.mark' | translate}}</th>
                    <th>{{'label.date' | translate}}</th>
                </thead>
                <tbody>
                    <tr *cdkVirtualFor="let mark of marksToDisplay" class="example-item">
                        <td>{{mark.lesson.name}}</td>
                        <td>{{mark.note}}</td>
                        <td><span [class]="getMarkStyle(mark.mark)">{{mark.mark}}</span></td>
                        <td>
                                <span class="timestamp"> {{mark.createdAt | date:'dd / MM / yyyy'}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>

        <ng-template #noMarks>{{'student.marks.noContent' | translate}}</ng-template>
    </div>
</div>