.mat-tab-group {
  margin-bottom: -15px;
}

.example-input-label,
.example-add-tab-button,
.example-delete-tab-button {
  margin: 8px;
}

table {
  width: 100%;
}

.backgroud-ghost-white {
  background: ghostwhite;
}